@font-face {
  font-family: "Poppins-SemiBold", sans-serif;
  src: url(./fonts/Poppins-Regular.ttf);
}

body {
  background-color: rgb(32, 32, 48);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: 'Poppins-SemiBold', sans-serif;
}

#intro {
  color: rgb(255, 253, 247);
  max-width: 80vw;
  display: flex;
  flex-direction: column;


  h1 {
    margin-bottom: 20px;
  }

  p+p {
    margin-top: 0px;
    /*outline: 1px solid white;*/
  }

  a {
    text-decoration: none;
    color: rgb(132, 188, 156);
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  #intro {
    max-width: 40vw;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(56, 111, 164);
  box-shadow: 0 0 10px rgb(0,0,0,0.5);
  border-radius: 10px;
  gap: 1rem;
  width: 40vw;
  height: auto;
  padding: 10px;

  .game-picker {
    color: rgb(255, 253, 247);
    font-size: 20px;
    font-weight: 800;
    background: rgb(124, 128, 155);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(124, 128, 155);
    width: 150px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  #snakeBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 10px;
    }
  }
}

